<?xml version="1.0" encoding="utf-8"?>

<!--
  ~  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->
<DeviceTypeConfiguration name="ios">

    <DeviceDetails table-id="IOS_DEVICE"/>

    <License>
        <Language>en_US</Language>
        <Version>1.0.0</Version>
        <Text>This End User License Agreement ("Agreement") is a legal agreement between you ("You") and WSO2,
            Inc., regarding the enrollment of Your personal mobile device ("Device") in SoR's mobile device
            management program, and the loading to and removal from Your Device and Your use of certain
            applications and any associated software and user documentation, whether provided in "online" or
            electronic format, used in connection with the operation of or provision of services to WSO2,
            Inc., BY SELECTING "I ACCEPT" DURING INSTALLATION, YOU ARE ENROLLING YOUR DEVICE, AND THEREBY
            AUTHORIZING SOR OR ITS AGENTS TO INSTALL, UPDATE AND REMOVE THE APPS FROM YOUR DEVICE AS DESCRIBED
            IN THIS AGREEMENT. YOU ARE ALSO EXPLICITLY ACKNOWLEDGING AND AGREEING THAT (1) THIS IS A BINDING
            CONTRACT AND (2) YOU HAVE READ AND AGREE TO THE TERMS OF THIS AGREEMENT.

            IF YOU DO NOT ACCEPT THESE TERMS, DO NOT ENROLL YOUR DEVICE AND DO NOT PROCEED ANY FURTHER.

            You agree that: (1) You understand and agree to be bound by the terms and conditions contained in
            this Agreement, and (2) You are at least 21 years old and have the legal capacity to enter into
            this Agreement as defined by the laws of Your jurisdiction. SoR shall have the right, without
            prior notice, to terminate or suspend (i) this Agreement, (ii) the enrollment of Your Device, or
            (iii) the functioning of the Apps in the event of a violation of this Agreement or the cessation
            of Your relationship with SoR (including termination of Your employment if You are an employee or
            expiration or termination of Your applicable franchise or supply agreement if You are a franchisee
            of or supplier to the WSO2 WSO2, Inc., system). SoR expressly reserves all rights not expressly
            granted herein.</Text>
    </License>

    <ProvisioningConfig>
        <SharedWithAllTenants>true</SharedWithAllTenants>
    </ProvisioningConfig>

    <DataSource>
        <JndiConfig>
            <Name>jdbc/MobileIOSDM_DS</Name>
        </JndiConfig>
        <TableConfig>
            <Table name="IOS_DEVICE">
                <PrimaryKey>MOBILE_DEVICE_ID</PrimaryKey>
                <Attributes>
                    <Attribute>APNS_PUSH_TOKEN</Attribute>
                    <Attribute>MAGIC_TOKEN</Attribute>
                    <Attribute>MDM_TOKEN</Attribute>
                    <Attribute>UNLOCK_TOKEN</Attribute>
                    <Attribute>CHALLENGE_TOKEN</Attribute>
                    <Attribute>DEVICE_INFO</Attribute>
                    <Attribute>SERIAL</Attribute>
                    <Attribute>PRODUCT</Attribute>
                    <Attribute>MAC_ADDRESS</Attribute>
                    <Attribute>DEVICE_NAME</Attribute>
                    <Attribute>ICCID</Attribute>
                    <Attribute>LATITUDE</Attribute>
                    <Attribute>LONGITUDE</Attribute>
                    <Attribute>IMEI</Attribute>
                    <Attribute>VERSION</Attribute>
                </Attributes>
            </Table>
        </TableConfig>
    </DataSource>

    <Features>
        <Feature code="INSTALL_ENTERPRISE_APPLICATION">
            <Name>Install Enterprise App</Name>
            <Description>Install Enterprise App</Description>
        </Feature>
        <Feature code="INSTALL_STORE_APPLICATION">
            <Name>Install Public App</Name>
            <Description>Install Public App</Description>
        </Feature>
        <Feature code="REMOVE_APPLICATION">
            <Name>Uninstall App</Name>
            <Description>Uninstall App</Description>
        </Feature>
        <Feature code="DEVICE_LOCK">
            <Name>Device Lock</Name>
            <Description>Device Lock</Description>
            <Operation context="/api/device-mgt/ios/v1.0/admin/devices/lock" method="POST" type="application/json">
            </Operation>
        </Feature>
        <Feature code="CELLULAR">
            <Name>Cellular</Name>
            <Description>Cellular</Description>
        </Feature>
        <Feature code="APN">
            <Name>APN</Name>
            <Description>APN</Description>
        </Feature>
        <Feature code="DOMAIN">
            <Name>Domain operation</Name>
            <Description>Domain operation</Description>
        </Feature>
        <Feature code="RESTRICTION">
            <Name>Restrictions operation</Name>
            <Description>Restrictions operation</Description>
        </Feature>
        <Feature code="WIFI">
            <Name>Wifi</Name>
            <Description>Wifi</Description>
        </Feature>
        <Feature code="DEVICE_INFO">
            <Name>Device Info</Name>
            <Description>Device Info</Description>
        </Feature>
        <Feature code="AIR_PLAY">
            <Name>Air Play</Name>
            <Description>Air Play</Description>
        </Feature>
        <Feature code="LOCATION">
            <Name>Location</Name>
            <Description>Fetch location</Description>
            <Operation context="/api/device-mgt/ios/v1.0/admin/devices/location" method="POST" type="application/json">
            </Operation>
        </Feature>
        <Feature code="RING">
            <Name>Ring</Name>
            <Description>Ring device</Description>
            <Operation context="/api/device-mgt/ios/v1.0/admin/devices/ring" method="POST" type="application/json">
            </Operation>
        </Feature>
        <Feature code="APPLICATION_LIST">
            <Name>Application list</Name>
            <Description>Application list</Description>
        </Feature>
        <Feature code="PROFILE_LIST">
            <Name>Profile List</Name>
            <Description>Profile List</Description>
        </Feature>
        <Feature code="REMOVE_PROFILE">
            <Name>Remove Profile</Name>
            <Description>Remove Profile</Description>
        </Feature>
        <Feature code="CLEAR_PASSCODE">
            <Name>Clear Passcode</Name>
            <Description>Clear Passcode</Description>
            <Operation context="/api/device-mgt/ios/v1.0/admin/devices/clear-passcode" method="POST"
                       type="application/json">
            </Operation>
        </Feature>
        <Feature code="CALDAV">
            <Name>CalDev</Name>
            <Description>Setup CalDav</Description>
        </Feature>
        <Feature code="CALENDAR_SUBSCRIPTION">
            <Name>Calendar Subscriptions</Name>
            <Description>Calendar Subscription</Description>
        </Feature>
        <Feature code="PASSCODE_POLICY">
            <Name>Passcode Policy</Name>
            <Description>Passcode Policy</Description>
        </Feature>
        <Feature code="EMAIL">
            <Name>Email</Name>
            <Description>Email operation</Description>
        </Feature>
        <Feature code="LDAP">
            <Name>LDAP</Name>
            <Description>LDAP operation</Description>
        </Feature>
        <Feature code="WEB_CLIP">
            <Name>Web Clip</Name>
            <Description>Web clip operation</Description>
        </Feature>
        <Feature code="VPN">
            <Name>VPN</Name>
            <Description>VPN operation</Description>
        </Feature>
        <Feature code="PER_APP_VPN">
            <Name>Per App VPN</Name>
            <Description>Per app VPN operation</Description>
        </Feature>
        <Feature code="APP_TO_PER_APP_VPN_MAPPING">
            <Name>VPN App mapping</Name>
            <Description>App to per app VPN mapping operation</Description>
        </Feature>
        <Feature code="ENTERPRISE_WIPE">
            <Name>Enterprise Wipe</Name>
            <Description>Enterprise wipe operation</Description>
            <Operation context="/api/device-mgt/ios/v1.0/admin/devices/enterprise-wipe" method="POST" type="application/json">
            </Operation>
        </Feature>
        <Feature code="APP_LOCK">
            <Name>App lock</Name>
            <Description>App lock operation</Description>
        </Feature>
        <Feature code="GET_RESTRICTIONS">
            <Name>Get restrictions</Name>
            <Description>Get restrictions operation</Description>
        </Feature>
        <Feature code="NOTIFICATION">
            <Name>Send notification</Name>
            <Description>Send notification operation</Description>
            <Operation context="/api/device-mgt/ios/v1.0/admin/devices/notification" method="POST" type="application/json">
            </Operation>
        </Feature>
        <Feature code="WIPE_DATA">
            <Name>Wipe data</Name>
            <Description>Wipe a device remotely</Description>
            <Operation context="/api/device-mgt/ios/v1.0/admin/devices/wipe-data" method="POST" type="application/json">
            </Operation>
        </Feature>
    </Features>

	<% if @product_profile == 'device-manager' %>
    <PolicyMonitoring enabled="true"/>
  <%- else -%>
    <PolicyMonitoring enabled="false"/>
  <%- end -%>

    <TaskConfiguration>
       <% if @product_profile == 'device-manager' %>
        <Enable>true</Enable>
        <Frequency><%= @device_monitoring_task_frequency %></Frequency>
       <%- else -%>
        <Enable>false</Enable>
        <Frequency>60000</Frequency>
       <%- end -%>
        <Operations>
            <Operation>
                <Name>DEVICE_INFO</Name>
                <RecurrentTimes>1</RecurrentTimes>
            </Operation>
            <Operation>
                <Name>APPLICATION_LIST</Name>
                <RecurrentTimes>5</RecurrentTimes>
            </Operation>
            <!--Enable Device Location when the agent app is installed-->
            <Operation>
                <Name>DEVICE_LOCATION</Name>
                <RecurrentTimes>1</RecurrentTimes>
            </Operation>
        </Operations>
    </TaskConfiguration>

    <PushNotificationProvider type="APNS">
        <FileBasedProperties>true</FileBasedProperties>
        <ConfigProperties></ConfigProperties>
        <!--if file based properties is set to false then the configuration will be picked from platform configuration-->
    </PushNotificationProvider>
</DeviceTypeConfiguration>
